body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  width: 100%;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table {
  margin: 10px;
  padding: 20px;
  width: 230px;
  background-color: #fff;
  border-radius: 200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: appear 0.5s forwards;
  height: 230px;
  column-gap: 50px;
  text-align: center;
}
#tablesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  text-align: center;
}

#tablesContainer > div:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

#tablesContainer > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

#tablesContainer > div:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
}

#tablesContainer > div:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

#tablesContainer > div:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

#distribuidorA,
#distribuidorD {
  background-color: #fff;
  color: #333;
  padding: 10px 12px;
  border-radius: 20px;
  border: 2px;
  cursor: pointer;
}
@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h1 {
  font-size: 48px;
  color: #333;
}
p {
  line-height: 25px;
}
